
body{
    background-color: #fffd02; /* background yellow */
}

#body{
	margin-bottom: 80px;
	min-height: 400px;
}

/* STYLING CLASSES */
.top15{
	margin-top:15px;
}

.top30{
	margin-top:30px;
}

.top60{
	margin-top:60px;
}

.top100{
	margin-top:100px;
}

#social{: 450px;
	list-style-type:none;
	margin-top: 10px;
	margin-left: -42px;	
}

/* webpage elements */
.navbar {
  min-height: 75px;
  background-color: black;
}

.navbar-brand {
  padding: 0 15px;
  height: 75px;
  line-height: 75px;
}

.navbar-toggler {
  /* (75px - button height 34px) / 2 = 20.5px */
  margin-top: 7px;
  padding: 9px 10px !important;
}

.navbar-nav > li{
	margin-top: 5px;
}

.nav-link{
	color: white !important;
}

a.nav-link:hover, a.nav-link.active{
	color: #fffd02 !important;
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    /* (75px - line-height of 27px) / 2 = 24px */
    padding-top: 24px;
    padding-bottom: 24px;
    line-height: 27px;
  }
}

@media (max-width: 575px){
	.center-content{
		text-align: center;
	}

	.mobile-margin{
		margin: auto 10px;
	}
}


#social > li{
	float: left;
	margin: auto 5px;	
}

.nav-item{
	margin: auto 20px;
}

.nav-link:hover{
	color: #fffd02;
}
.nav-link{
	color: white;
}

.project-pic{
	width:inherit;
	height:auto;
	margin-bottom: 20px;
	/*border: 1px solid black;*/
}

.about-list > li{
	margin: 5px auto;
}

footer{
	background-color: black;
	width: 100%;
	height: 75px;
	bottom: 0;
	position: fixed;
	color: #bcbcbc;
	font-size: 9pt;
}

.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}