
body{
    background-color: #fffd02; /* background yellow */
}

.top15{
	margin-top:15px;
}

.top30{
	margin-top:30px;
}

.top100{
	margin-top:100px;
}

#social{
	list-style-type:none;
	margin-top: 10px;
	margin-left: -42px;	
}

#social > li{
	float: left;
	margin: auto 5px;	
}

.nav-item{
	margin: auto 20px;
}

.nav-link:hover{
	color: #fffd02;
}
.nav-link{
	color: white;
}

.project-pic{
	width:300px;
	height:auto;
	border: 1px solid black;
}
